@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
  }
}
